<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LogPath" value="c:\"></add>
    <add key="CrmServerUrl" value="https://accforsupport.crm.acc-degroofpetercam.com/XRMServices/2011/Organization.svc" />
    <add key="CrmUserName" value="x" />
    <add key="CrmPassword" value="x" />
    <add key="CrmUserDomain" value="Degroof" />
    <add key="TargetUserId" value="x" />
    <add key="TargetSecret" value="x" />
    <add key="TargetURL" value="https://dpam-acc.crm4.dynamics.com/" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>