parameters:
- name: environmentName
  type: string
- name: configDataFile
  type: string

steps:
- powershell: |
    if(Test-Path {{parameters.configDataFile}}) {
      Write-Host "Import ${{parameters.configDataFile}}"
      $microsoftConfigurationMigrationPowerShellModule = '$(Microsoft_Xrm_Tooling_ConfigurationMigration)'
      Import-Module $microsoftConfigurationMigrationPowerShellModule -RequiredVersion $(configurationMigrationPowerShellVersion) -Force
      Import-CrmDataFile -Datafile {{parameters.configDataFile}} -CrmConnection "$(CdsBaseConnectionString)https://${{parameters.environmentName}}.crm4.dynamics.com/" -LogWriteDirectory "$(Pipeline.Workspace)" -Verbose
    } else {
      Write-Host "${{parameters.configDataFile}} was not found. Skip import."
    }
  displayName: 'Import Configuration Data'