parameters:
- name: environmentName
  type: string
- name: configDataFile
  type: string

steps:
- powershell: |
    Write-Host ${{parameters.configDataFile}}
    Write-Host ${{parameters.environmentName}}
    $path = ${{parameters.configDataFile}}
    Write-Host $path
    if(Test-Path $path) {
      Write-Host "Import ${{parameters.configDataFile}}"
      $microsoftConfigurationMigrationPowerShellModule = '$(Microsoft_Xrm_Tooling_ConfigurationMigration)'
      Import-Module $microsoftConfigurationMigrationPowerShellModule -RequiredVersion $(configurationMigrationPowerShellVersion) -Force
      Import-CrmDataFile -Datafile $path -CrmConnection "$(CdsBaseConnectionString)https://${{parameters.environmentName}}.crm4.dynamics.com/" -LogWriteDirectory "$(Pipeline.Workspace)" -Verbose
    } else {
      Write-Host "${{parameters.configDataFile}} was not found. Skip import."
    }
  displayName: 'Import Configuration Data'