{"swagger":"2.0","info":{"title":"Default title","description":"","version":"1.0"},"host":"api.gleif.org","basePath":"/api/v1/lei-records/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"goldenCopy":{"type":"object","properties":{"publishDate":{"type":"string","description":"publishDate"}},"description":"goldenCopy"},"pagination":{"type":"object","properties":{"currentPage":{"type":"integer","format":"int32","description":"currentPage"},"perPage":{"type":"integer","format":"int32","description":"perPage"},"from":{"type":"integer","format":"int32","description":"from"},"to":{"type":"integer","format":"int32","description":"to"},"total":{"type":"integer","format":"int32","description":"total"},"lastPage":{"type":"integer","format":"int32","description":"lastPage"}},"description":"pagination"}},"description":"meta"},"links":{"type":"object","properties":{"first":{"type":"string","description":"first"},"last":{"type":"string","description":"last"}},"description":"links"},"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"type"},"id":{"type":"string","description":"id"},"attributes":{"type":"object","properties":{"lei":{"type":"string","description":"lei"},"entity":{"type":"object","properties":{"legalName":{"type":"object","properties":{"name":{"type":"string","description":"name"},"language":{"type":"string","description":"language"}},"description":"legalName"},"otherNames":{"type":"array","items":{},"description":"otherNames"},"transliteratedOtherNames":{"type":"array","items":{},"description":"transliteratedOtherNames"},"legalAddress":{"type":"object","properties":{"language":{"type":"string","description":"language"},"addressLines":{"type":"array","items":{"type":"string"},"description":"addressLines"},"addressNumber":{"type":"string","description":"addressNumber"},"addressNumberWithinBuilding":{"type":"string","description":"addressNumberWithinBuilding"},"mailRouting":{"type":"string","description":"mailRouting"},"city":{"type":"string","description":"city"},"region":{"type":"string","description":"region"},"country":{"type":"string","description":"country"},"postalCode":{"type":"string","description":"postalCode"}},"description":"legalAddress"},"headquartersAddress":{"type":"object","properties":{"language":{"type":"string","description":"language"},"addressLines":{"type":"array","items":{"type":"string"},"description":"addressLines"},"addressNumber":{"type":"string","description":"addressNumber"},"addressNumberWithinBuilding":{"type":"string","description":"addressNumberWithinBuilding"},"mailRouting":{"type":"string","description":"mailRouting"},"city":{"type":"string","description":"city"},"region":{"type":"string","description":"region"},"country":{"type":"string","description":"country"},"postalCode":{"type":"string","description":"postalCode"}},"description":"headquartersAddress"},"registeredAt":{"type":"object","properties":{"id":{"type":"string","description":"id"},"other":{"type":"string","description":"other"}},"description":"registeredAt"},"registeredAs":{"type":"string","description":"registeredAs"},"jurisdiction":{"type":"string","description":"jurisdiction"},"category":{"type":"string","description":"category"},"legalForm":{"type":"object","properties":{"id":{"type":"string","description":"id"},"other":{"type":"string","description":"other"}},"description":"legalForm"},"associatedEntity":{"type":"object","properties":{"lei":{"type":"string","description":"lei"},"name":{"type":"string","description":"name"}},"description":"associatedEntity"},"status":{"type":"string","description":"status"},"expiration":{"type":"object","properties":{"date":{"type":"string","description":"date"},"reason":{"type":"string","description":"reason"}},"description":"expiration"},"successorEntity":{"type":"object","properties":{"lei":{"type":"string","description":"lei"},"name":{"type":"string","description":"name"}},"description":"successorEntity"},"otherAddresses":{"type":"array","items":{},"description":"otherAddresses"}},"description":"entity"},"registration":{"type":"object","properties":{"initialRegistrationDate":{"type":"string","description":"initialRegistrationDate"},"lastUpdateDate":{"type":"string","description":"lastUpdateDate"},"status":{"type":"string","description":"status"},"nextRenewalDate":{"type":"string","description":"nextRenewalDate"},"managingLou":{"type":"string","description":"managingLou"},"corroborationLevel":{"type":"string","description":"corroborationLevel"},"validatedAt":{"type":"object","properties":{"id":{"type":"string","description":"id"},"other":{"type":"string","description":"other"}},"description":"validatedAt"},"validatedAs":{"type":"string","description":"validatedAs"},"otherValidationAuthorities":{"type":"array","items":{},"description":"otherValidationAuthorities"}},"description":"registration"},"bic":{"type":"string","description":"bic"}},"description":"attributes"},"relationships":{"type":"object","properties":{"managing-lou":{"type":"object","properties":{"links":{"type":"object","properties":{"related":{"type":"string","description":"related"}},"description":"links"}},"description":"managing-lou"},"lei-issuer":{"type":"object","properties":{"links":{"type":"object","properties":{"related":{"type":"string","description":"related"}},"description":"links"}},"description":"lei-issuer"},"field-modifications":{"type":"object","properties":{"links":{"type":"object","properties":{"related":{"type":"string","description":"related"}},"description":"links"}},"description":"field-modifications"},"direct-parent":{"type":"object","properties":{"links":{"type":"object","properties":{"reporting-exception":{"type":"string","description":"reporting-exception"}},"description":"links"}},"description":"direct-parent"},"ultimate-parent":{"type":"object","properties":{"links":{"type":"object","properties":{"reporting-exception":{"type":"string","description":"reporting-exception"}},"description":"links"}},"description":"ultimate-parent"}},"description":"relationships"},"links":{"type":"object","properties":{"self":{"type":"string","description":"self"}},"description":"links"}}},"description":"data"}}}}},"summary":"Return LEI record based on params","description":"Return LEI record based on params","operationId":"GetLEIRecordFromParam","parameters":[{"name":"sort","in":"query","required":false,"type":"string"},{"name":"page[size]","in":"query","required":false,"type":"integer"},{"name":"page[number]","in":"query","required":false,"type":"integer"},{"name":"filter[entity.legalName]","in":"query","required":false,"type":"string"},{"name":"filter[lei]","in":"query","required":false,"type":"string"}]}},"/api/v1/lei-records":{}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}