# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none
pr: none

parameters:
- name: EnvironmentDisplayName
  displayName: Environment Display Name
  type: string
  default: ''
- name: EnvironmentName
  displayName: Environment Name
  type: string
  default: ''
- name: EnvironmentType
  displayName: Environment Copy Method
  type: string
  default: New + Solution
  values:
  - New + Solution
  - MinimalCopy
  - New + Solution + Data
  - MinimalCopy + Data
  - FullCopy
- name: SolutionType
  displayName: Solution Type
  type: string
  default: Unmanaged
  values:
  - Unmanaged
  - Managed
- name: NewBranchName
  displayName: New Branch Name
  type: string
  default: ''

pool:
  name: Azure Pipelines
  vmImage: windows-latest

variables:
- group: "dev-scope"
- group: "project-scope"

steps:
- script: |
   git checkout -b ${{parameters.NewBranchName}} sprint
  displayName: 'Create New Git Branch: ${{parameters.NewBranchName}}'
  workingDirectory: $(Build.SourcesDirectory)\dpam
  condition: and(succeeded(), ne(parameters.NewBranchName, ''))
- task: microsoft-IsvExpTools.PowerPlatform-BuildTools.tool-installer.PowerPlatformToolInstaller@0
  displayName: 'Power Platform Tool Installer '

- ${{ if or(eq(parameters.EnvironmentType, 'New + Solution'), eq(parameters.EnvironmentType, 'New + Solution + Data')) }}:
  - task: microsoft-IsvExpTools.PowerPlatform-BuildTools.create-environment.PowerPlatformCreateEnvironment@0
    displayName: 'Power Platform Create Environment '
    inputs:
      authenticationType: PowerPlatformSPN
      PowerPlatformSPN: $(EnvironmentUrl)
      DisplayName: ${{parameters.EnvironmentDisplayName}}
      AppsTemplate: 'D365_CustomerService,D365_Sales'
      LocationName: europe
      CurrencyName: EUR
      DomainName: ${{parameters.EnvironmentName}}

  - ${{ if eq(parameters.SolutionType, 'Unmanaged') }}:
    - task: PowerPlatformExportSolution@0
      displayName: 'Export Unmanaged Solution'
      inputs:
        authenticationType: 'PowerPlatformSPN'
        PowerPlatformSPN: '$(EnvironmentUrl)'
        SolutionName: '$(SolutionName)'
        AsyncOperation: true
        MaxAsyncWaitTime: '60'
        SolutionOutputFile: '$(Build.ArtifactStagingDirectory)\$(SolutionName).zip'
  - ${{ else }}:
    - task: PowerPlatformExportSolution@0
      displayName: 'Export Managed Solution'
      inputs:
        authenticationType: 'PowerPlatformSPN'
        PowerPlatformSPN: '$(EnvironmentUrl)'
        SolutionName: '$(SolutionName)'
        Managed: true
        AsyncOperation: true
        MaxAsyncWaitTime: '60'
        SolutionOutputFile: '$(Build.ArtifactStagingDirectory)\$(SolutionName).zip'
  
  # add Azure DevOps extension
  - script: az extension add -n azure-devops
    displayName: 'Install Azure DevOps Extension'

    # sign in to Azure DevOps
  - script: echo $(System.AccessToken) | az devops login
    env:
      AZURE_DEVOPS_CLI_PAT: $(System.AccessToken)
    displayName: 'Login Azure DevOps Extension'
  
# Set default org and project
#  - powershell: |
#      $env:AZURE_DEVOPS_EXT_AZURE_RM_SERVICE_PRINCIPAL_KEY=$(ClientSecret)
#     az devops service-endpoint azurerm create --azure-rm-service-principal-id $(ClientId)
#                                          --azure-rm-subscription-id
#                                          --azure-rm-subscription-name
#                                          --azure-rm-tenant-id
#                                          --name
#                                          [--azure-rm-service-principal-certificate-path]
#                                          [--detect {false, true}]
#                                          [--org]
#                                          [--project]
#    displayName: 'Create Service Connection in Azure DevOps for new environment'

  - task: PowerPlatformImportSolution@0
    displayName: 'Import Unmanaged Solution'
    inputs:
      authenticationType: 'PowerPlatformSPN'
      PowerPlatformSPN: 'https://${{parameters.EnvironmentName}}.crm4.dynamics.com/'
      SolutionInputFile: '$(Build.ArtifactStagingDirectory)\$(SolutionName).zip'
      AsyncOperation: true
      MaxAsyncWaitTime: '60'

  - ${{ if eq(parameters.EnvironmentType, 'New + Solution + Data') }}:
    - template: templates/import-configuration-data.yml
      parameters:
        environmentName: ${{parameters.EnvironmentName}}
        configDataFile: "$(Build.ArtifactStagingDirectory)/ConfigData.zip"
    - template: templates/import-configuration-data.yml
      parameters:
        environmentName: ${{parameters.EnvironmentName}}
        configDataFile: "$(Build.ArtifactStagingDirectory)/ConfigData-$(EnvironmentName).zip"

- ${{ else }}:
  - task: PowerPlatformCopyEnvironment@0
    displayName: 'Power Platform Copy Environment '
    inputs:
      authenticationType: PowerPlatformSPN
      PowerPlatformSPN: $(EnvironmentUrl)
      TargetEnvironmentUrl: 'https://${{parameters.EnvironmentName}}.crm4.dynamics.com/'
      CopyType: '${{parameters.EnvironmentType}}'
      OverrideFriendlyName: true
      FriendlyName: ${{parameters.EnvironmentDisplayName}}
  
  - ${{ if eq(parameters.EnvironmentType, 'MinimalCopy + Data') }}:
    - template: templates/import-configuration-data.yml
      parameters:
        environmentName: ${{parameters.EnvironmentName}}
        configDataFile: "$(Build.ArtifactStagingDirectory)/ConfigData.zip"
  
  - ${{ if eq(parameters.EnvironmentType, 'FullCopy') }}:
    - template: templates/import-configuration-data.yml
      parameters:
        environmentName: ${{parameters.EnvironmentName}}
        configDataFile: "$(Build.ArtifactStagingDirectory)/ConfigData-$(EnvironmentName).zip"